type: task_block
title: Weekly Stats
icon: https://static.oomol.com/icons/python.png
executor:
  name: python
  options:
    entry: __init__.py
inputs_def:
  - handle: climate_data
    json_schema:
      contentMediaType: oomol/var
  - handle: year_from
    value: 2001
  - handle: year_to
    value: 2009
  - handle: indicator
outputs_def:
  - handle: stats
    json_schema:
      contentMediaType: oomol/var
